language: 
    - cpp
os: linux
compiler: 
    - gcc
dist: xenial

before_install:
    - sudo apt-get -qq update
    - sudo apt-get install -y cmake libeigen3-dev
    - sudo pip install --user cpp-coveralls
    - mkdir build && cd build
    - cmake -DCOVERAGE=1 -DEIGEN3_INCLUDE_DIRS=/usr/include/eigen3/  ..
    - make && make build-tests && make test
after_success:
    - cd ..
    - coveralls --root . -e build/test -e test -E ".*gtest.*" -E ".*CMakeFiles.*" 